<div class="container">
	<div class="row">
		<div class="col-md-6">
			<p>
				Estos son los datos que requerimos para cotizar y comenzar las actividades del servicio, por favor completelas con la mayor información posible para que nuestra labor sea más precisa y eficiente. Gracias.	
			</p>

			<table role="presentation">
			  <tr><td>Cantidad de sistemas a probar</td> <td><input name="cuantity"></td></tr>
			  <tr><td>Exposición</td>  <td><input name="test"></td></tr>
			  <tr><td>Objetivos</td> <td><input name="company"></td></tr>
			  <tr><td>Sus datos</td> <td><input name="email"></td></tr>
			</table>

			<button class="btn btn-sm btn-success">Enviar</button>
		</div>
	</div>
</div>
