<div class="container">
	<div class="row">
		<div class="col-md-6">
		
		<h2>Presentación técnica del servicio, ejemplos de entregables, videos promocionales.</h2>

		<p>
			Nuestro servicio de pruebas de penetración, involucra un análisis profundo a los activos de información por potenciales riesgos que pudieran impactar su organización. El análisis simula un cyber ataque real, desde la posición de un potencial atacante, y puede involucrar aprovecharse activamente de las vulnerabildiades de seguridad. Trabajamos de cerca con usted para identificar y mitigar las áreas de posibles riesgos. Todos nuestros hallazgos serán presentados a la organización, conocerá vectores de ataques, amenazas, impactos y metodos de remediación técnicos.
		</p>

		El 'Pentest' le ayudará en:

		<ul>
			<li>
				Proactivamente cuantificar y reducir riesgos de negocio
			</li>
			<li>
				Validar la efectividad de sus políticas de seguridad
			</li>
			<li>
				Protejer la reputación de su marca y mantener la confianza de clientes
			</li>
			<li>
				Prevenir inactividad, juicios y pérdidas monetarias
			</li>
			<li>
				Mantener cumplimiento de normativas internacionales de seguridad
			</li>
			<li>
				Obtener informes para priorizar y reducir riesgos.
			</li>	
		</ul>

		<!--<textarea name="description"></textarea>-->

		<a href="#contract"class="btn btn-sm btn-success">Contratar Servicio</a>
		</div>
	</div>
</div>

<script>
//|
//| view handler
//|
//| Note the name below shall match id of the section
//|
  app.page("demo", function() 
  {
    // initialize view variables    
    var $description = $(this).find('[name="description"]');
    var $name = $(this).find('[name="name"]');
    var $company = $(this).find('[name="company"]');
    var $email = $(this).find('[name="email"]');
    
    var service = null; // current service
        
    // present the view - load data and show: 
    return function(params) {
      var serviceId = parseInt(params); 
      service = services[serviceId];
      
      $description.val(service.description);
      $name.val(service.name);
      $company.val(service.company);
      $email.val(service.email);      
    }
  }); 
</script>