<div class="col-md-12">
<!-- isotope filters start -->
	<div class="filters text-center">
		<ul class="nav nav-pills">
			<li class="active"><a href="#" data-filter="*">Todo</a></li>
			<li><a href="#" data-filter=".pentest">Pruebas de penetración</a></li>
			<li><a href="#" data-filter=".assessment">Análisis de vulnerabilidades</a></li>
			<li><a href="#" data-filter=".appsec">Seguridad de aplicaciones</a></li>
			<li><a href="#" data-filter=".pciserv">Servicios requeridos PCI-DSS</a></li>
			<li><a href="#" data-filter=".capacitacion">Cursos talleres</a></li>
			<!--<li><a href="#" data-filter=".others">Otros</a></li>-->
		</ul>
	</div>
	<!-- isotope filters end -->

	<!-- portfolio items start -->
	<div class="isotope-container row grid-space-20">
		<div class="col-sm-6 col-md-3 isotope-item pentest">
			<div class="image-box">
				<div class="overlay-container">
					<img src="images/metasploit.jpg" alt="">
					<a class="overlay" data-toggle="modal" data-target="#pentest-interno">
						<i class="fa fa-search-plus"></i>
						<span>Pruebas de penetración</span>
					</a>
				</div>
				<a class="btn btn-default btn-block" data-toggle="modal" data-target="#pentest-interno">Prueba de penetración interna</a>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="pentest-interno" tabindex="-1" role="dialog" aria-labelledby="pentest-interno-label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
							<h4 class="modal-title" id="pentest-interno-label">Prueba de penetraci&oacute;n Interna</h4>
						</div>
						<div class="modal-body">
							<h3>Descripci&oacute;n</h3>
							<div class="row">
								<div class="col-md-6">
									<p>Es una prueba de seguridad que simula un ataque real desde la red interna LAN (por un intruso o empleado disgustado), con el objetivo de conocer cuan vulnerable es su organizaci&oacute;n realmente.</p>
									<p>La prueba de penetraci&oacute;n comienza con las mismas tareas que el an&aacute;lisis de vulnerabilidades. Luego de ello, el riesgo real es verificado aprovechando las vulnerabilidades y todas las posibles combinaciones.</p>
									<p>Las fases del servicio son:</p>
									<ul>
										<li>Descubrimientos.</li>
										<li>An&aacute;lisis de vulnerabilidades.</li>
										<li>Explotaci&oacute;n.</li>
										<li>Escalaci&oacute;n de privilegios y mantenimiento de accesos</li>
									</ul>
								</div>
								<div class="col-md-6">
									<img src="images/metasploit.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="col-md-4">
								<a href="#demo:0" class="btn btn-sm btn-default">Ver Demostración</a>								
							</div>
							<div class="col-md-4">
								<a href="#contract" class="btn btn-sm btn-success">Contratar Servicio</a>
							</div>
							<div class="col-md-4">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
							</div>											
						</div>
					</div>
				</div>
			</div>
			<!-- Modal end -->
		</div>
		<div class="col-sm-6 col-md-3 isotope-item pentest">
			<div class="image-box">
				<div class="overlay-container">
					<img src="images/external-attack.jpg" alt="">
					<a class="overlay" data-toggle="modal" data-target="#pentest-externo">
						<i class="fa fa-search-plus"></i>
						<span>Penetration Testing</span>
					</a>
				</div>
				<a class="btn btn-default btn-block" data-toggle="modal" data-target="#pentest-externo">Prueba de Penetraci&oacute;n Externa</a>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="pentest-externo" tabindex="-1" role="dialog" aria-labelledby="pentest-externo-label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
							<h4 class="modal-title" id="pentest-interno-label">Prueba de Penetraci&oacute;n Externa</h4>
						</div>
						<div class="modal-body">
							<h3>Descripci&eacute;n</h3>
							<div class="row">
								<div class="col-md-6">
									<p>Es una prueba de seguridad, donde se simula un ataque real a trav&eacute;és de Internet, con el fin de detectar el grado de exposición que tienen los datos de su organización de cara a la red pública.</p>
									<p>La prueba de penetraci&eacute;n comienza con las mismas tareas incluidas en una evaluaci&eacute;n de la vulnerabilidad. El nivel de riesgo real se verifica mediante la explotaci&eacute;n de las vulnerabilidades encontradas y todas sus combinaciones posibles.</p>
									<p>Las fases del servicio son:</p>
									<ul>
										<li>Reconocimiento y descubrimientos.</li>
										<li>An&aacute;lisis de vulnerabilidad.</li>
										<li>Explotaci&oacute;n.</li>
										<li>Escalamiento de privilegios y mantenimiento de accesos.</li>
									</ul>
								</div>
								<div class="col-md-6">
									<img src="images/external-attack.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal end -->
		</div>
		<div class="col-sm-6 col-md-3 isotope-item pentest">
			<div class="image-box">
				<div class="overlay-container">
					<img src="images/wifi.jpg" alt="">
					<a class="overlay" data-toggle="modal" data-target="#pentest-wireless">
						<i class="fa fa-search-plus"></i>
						<span>Penetration Testing</span>
					</a>
				</div>
				<a class="btn btn-default btn-block" data-toggle="modal" data-target="#pentest-wireless">Pruebas de penetraci&oacute;n WiFi</a>
			</div>
			<!-- Modal -->
			<div class="modal fade" id="pentest-wireless" tabindex="-1" role="dialog" aria-labelledby="pentest-wireless-label" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
							<h4 class="modal-title" id="pentest-wireless-label">Pruebas de penetraci&oacute;n WiFi</h4>
						</div>
						<div class="modal-body">
							<h3>Descripci&oacute;n</h3>
							<div class="row">
								<div class="col-md-6">
									<p>Las redes inalámbricas son una extensi&oacute;n del per&iacute;metro de su empresa, y se pueden utilizar como una puerta de entrada a su infraestructura interna.</p>
									<p>Un punto de acceso no autorizado, instalado por un empleado, que no sigue las directrices de seguridad de la empresa se puede utilizar para poner en peligro su seguridad.</p>
									<p>Este tipo de prueba incluye un an&aacute;lisis de espectro Wi-Fi para detectar puntos de acceso, y un an&aacute;lisis de la seguridad de las redes inal&aacute;mbricas de la compa&ntilde;&iacute;a con el fin de evaluar las medidas de seguridad implementadas y detectar posibles vulnerabilidades.</p>													</div>
									<div class="col-md-6">
										<img src="images/wifi.jpg" alt="">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal end -->
			</div>

			<div class="col-sm-6 col-md-3 isotope-item pentest">
				<div class="image-box">
					<div class="overlay-container">
						<img src="images/phishing.jpg" alt="">
						<a class="overlay" data-toggle="modal" data-target="#socialeng">
							<i class="fa fa-search-plus"></i>
							<span>Penetration Testing</span>
						</a>
					</div>
					<a class="btn btn-default btn-block" data-toggle="modal" data-target="#socialeng">Pruebas de Ingenier&iacute;a Social</a>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="socialeng" tabindex="-1" role="dialog" aria-labelledby="socialeng-label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="socialeng-label">Pruebas de Ingenier&iacute;a Social</h4>
							</div>
							<div class="modal-body">
								<h3>Descripci&oacute;n</h3>
								<div class="row">
									<div class="col-md-6">
										<p>La ingenier&iacute;a social utiliza la manipulaci&oacute;n, la influencia y el enga&ntilde;o para conseguir de una persona informaci&oacute;n privilegiada de confianza dentro de una organizaci&oacute;n, para cumplir con una petici&oacute;n, o divulgar informaci&oacute;n que beneficie al atacante.</p>
										<p>Mediante el uso de t&eacute;cnicas como "spear phishing" y llamadas telef&oacute;nicas falsas a los empleados de su empresa, tratamos de conseguir el acceso a la informaci&oacute;n o los sistemas sensibles. De esta manera, se llega a conocer el nivel real de conocimiento de su personal.</p>					
									</div>
									<div class="col-md-6">
										<img src="images/phishing.jpg" alt="">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal end -->
			</div>

			<div class="col-sm-6 col-md-3 isotope-item assessment">
				<div class="image-box">
					<div class="overlay-container">
						<img src="images/internal-assess.jpg" alt="">
						<a class="overlay" data-toggle="modal" data-target="#assessment-int">
							<i class="fa fa-search-plus"></i>
							<span>Vulnerability Assessments</span>
						</a>
					</div>
					<a class="btn btn-default btn-block" data-toggle="modal" data-target="#assessment-int">Evaluaci&oacute;n Interna</a>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="assessment-int" tabindex="-1" role="dialog" aria-labelledby="assessment-int-label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="assessment-int-label">Evaluaci&oacute;n Interna</h4>
							</div>
							<div class="modal-body">
								<h3>Descripci&oacute;n</h3>
								<div class="row">
									<div class="col-md-6">
										<p>Est&aacute; destinado a identificar, cuantificar, y priorizar las vulnerabilidades existentes dentro de los sistemas y de los medios de comunicación de la información que componen la infraestructura interna de su empresa.</p>
										<p>Las siguientes tareas se incluyen:</p>
										<ul>
											<li>Identificaci&oacute;n de sistemas.</li>
											<li>Puertos abiertos y sistemas de defensa.</li>
											<li>Sistema operativo y servicios actvos.</li>
											<li>An&aacute;lisis de vulnerabilidades.</li>
										</ul>
									</div>
									<div class="col-md-6">
										<img src="images/internal-assess.jpg" alt="">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal end -->
			</div>

			<div class="col-sm-6 col-md-3 isotope-item assessment">
				<div class="image-box">
					<div class="overlay-container">
						<img src="images/external-assess.jpg" alt="">
						<a class="overlay" data-toggle="modal" data-target="#assessment-ext">
							<i class="fa fa-search-plus"></i>
							<span>Vulnerability Assessments</span>
						</a>
					</div>
					<a class="btn btn-default btn-block" data-toggle="modal" data-target="#assessment-ext">Evaluaci&oacute;n Externa</a>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="assessment-ext" tabindex="-1" role="dialog" aria-labelledby="assessment-ext-label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="assessment-ext-label">Evaluaci&oacute;n Externa</h4>
							</div>
							<div class="modal-body">
								<h3>Descripci&oacute;n</h3>
								<div class="row">
									<div class="col-md-6">
										<p>Una evaluaci&oacute;n de vulnerabilidades externa est&aacute; destinada a identificar, cuantificar, y priorizar las vulnerabilidades existentes dentro de los sistemas y de la comunicaci&oacute;n de informaci&oacute;n expuesta a Internet.</p>
										<p>Las siguientes tareas se incluyen:</p>
										<ul>
											<li>Identificaci&oacute;n de sistemas.</li>
											<li>Puertos abiertos y sistemas de defensa.</li>
											<li>Sistema operativo y servicios actvos.</li>
											<li>An&aacute;lisis de vulnerabilidades.</li>
										</ul>
									</div>
									<div class="col-md-6">
										<img src="images/external-assess.jpg" alt="">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal end -->
			</div>

			<div class="col-sm-6 col-md-3 isotope-item appsec">
				<div class="image-box">
					<div class="overlay-container">
						<img src="images/web.jpg" alt="">
						<a class="overlay" data-toggle="modal" data-target="#app-web">
							<i class="fa fa-search-plus"></i>
							<span>Application Security</span>
						</a>
					</div>
					<a class="btn btn-default btn-block" data-toggle="modal" data-target="#app-web">An&aacute;lisis de aplicaciones Web</a>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="app-web" tabindex="-1" role="dialog" aria-labelledby="app-web-label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
								<h4 class="modal-title" id="app-web-label">An&aacute;lisis de aplicaciones Web</h4>
							</div>
							<div class="modal-body">
								<h3>Descripci&oacute;n</h3>
								<div class="row">
									<div class="col-md-6">
										<p>Durante el an&aacute;lisis de una aplicaci&oacute;n web, las pruebas manuales y automatizadas se ejecutan con el fin de detectar las implementaciones inseguras o vulnerabilidades que podr&iacute;an haber sido introducidas por errores de desarrollo. Estas vulnerabilidades suelen permitir el acceso a la informaci&oacute;n sensible, escalando los privilegio dentro de la aplicaci&oacute;n, e incluso accediendo y modificando el funcionamiento interno del servidor.</p>
										<p>El proceso anal&iacute;tico utilizado por Security Advisor se basan en las metodolog&iacute;as de OWASP y OSSTMM, y siempre incluye controles para las vulnerabilidades que componen la lista Top 10 de OWASP.</p>
										<p>Debido a que la l&oacute;gica de cada aplicaci&oacute;n es diferente y depende enormemente de las reglas del negocio, tambi&eacute;n buscamos vulnerabilidades l&oacute;gicas que no ser&iacute;an detectadas mediante el an&aacute;lisis autom&aacute;tico.</p>
									</div>
									<div class="col-md-6">
										<img src="images/web.jpg" alt="">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
							</div>
						</div>
					</div>
				</div>
				<!-- Modal end -->
			</div>

			<div class="col-sm-6 col-md-3 isotope-item appsec">
				<div class="image-box">
					<div class="overlay-container">
						<img src="images/mobile.jpg" alt="">
						<a class="overlay" data-toggle="modal" data-target="#app-mobile">
							<i class="fa fa-search-plus"></i>
							<span>Application Security</span>
						</a>
					</div>
					<a class="btn btn-default btn-block" data-toggle="modal" data-target="#app-mobile">An&aacute;lisis de aplicaciones m&oacute;viles</a>
				</div>
				<!-- Modal -->
				<div class="modal fade" id="app-mobile" tabindex="-1" role="dialog" aria-labelledby="app-mobile-label" aria-hidden="true">
					<div class="modal-dialog modal-lg">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="app-mobile-label">An&aacute;lisis de aplicaciones m&oacute;viles</h4>
							</div>
							<div class="modal-body">
								<h3>Descripci&oacute;n</h3>
								<div class="row">
									<div class="col-md-6">
										<p>El servicio de an&aacute;lisis de aplicaciones m&oacute;viles proporciona un an&aacute;lisis de seguridad para determinar cuan vulnerable es su aplicación en los dispositivos móviles, nuestros informes entregan información útil para que desarrolladores puedan remediar las fallas fácilmente.			</p>
										<p>Nuestras pruebas estáticas y dinámicas cubren ampliamente la superficie de exposición a problemas de seguridad.
											<p>Las plataformas incluidas en el alcance de este servicio son:</p>
											<ul>
												<li>Android</li>
												<li>Apple iOS</li>															
											</ul>
										</div>
										<div class="col-md-6">
											<img src="images/mobile.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>
				<div class="col-sm-6 col-md-3 isotope-item appsec">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/code.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#audit-cod">
								<i class="fa fa-search-plus"></i>
								<span>Application Security</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#app-mobile">Auditor&iacute;a de C&oacute;digo Fuente</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="audit-cod" tabindex="-1" role="dialog" aria-labelledby="audit-cod-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
									<h4 class="modal-title" id="audit-cod-label">Auditor&iacute;a de C&oacute;digo Fuente</h4>
								</div>
								<div class="modal-body">
									<h3>Descripci&oacute;n</h3>
									<div class="row">
										<div class="col-md-6">
											<p>La auditor&iacute;a al c&oacute;digo fuente (o de auditor&iacute;a "caja blanca") le ayuda a obtener una mejor comprensi&oacute;n del nivel de seguridad de las aplicaciones desarrolladas, mediante la detecci&oacute;n de vulnerabilidades y problemas de seguridad introducidas durante las etapas de "an&aacute;lisis de requisitos", "Dise&ntilde;o" y "Desarrollo" . Debido a que el c&oacute;digo fuente est&aacute; disponible para el auditor, es posible detectar vulnerabilidades que no ser&iacute;an detectados con otros abordajes.</p>
											<p>Cada componente de seguridad de las aplicaciones est&aacute; profundamente analizada con el apoyo del equipo de desarrollo. Esto nos permite obtener un mejor conocimiento de la l&oacute;gica de la aplicaci&oacute;n y del negocio.</p>
											<p>Probamos con especial atenci&oacute;n los componentes críticos como:</p>
											<ul>
												<li>Autenticaci&oacute;n.</li>
												<li>Autorizaci&oacute;n.</li>
												<li>Validaci&oacute;n de datos de entrada.</li>
												<li>Error y el manejo de excepciones.</li>
												<li>Llamadas al sistema operativo.</li>
											</ul>
										</div>
										<div class="col-md-6">
											<img src="images/code.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>

				<div class="col-sm-6 col-md-3 isotope-item pciserv">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/pentest-pci.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#pentest-pci">
								<i class="fa fa-search-plus"></i>
								<span>PCI-DSS Required Services</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#pentest-pci">Pruebas de penetraci&oacute;n (PCI)</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="pentest-pci" tabindex="-1" role="dialog" aria-labelledby="pentest-pci-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
									<h4 class="modal-title" id="pentest-pci-label">Pruebas de penetraci&oacute;n (PCI)</h4>
								</div>
								<div class="modal-body">
									<h3>Descripci&oacute;n</h3>
									<div class="row">
										<div class="col-md-6">
											<p>El PCI-DSS (PCI DSS) requiere pruebas de penetraci&oacute;n que se lleven a cabo para garantizar la seguridad del entorno de datos de tarjetas de cr&eacute;dito. Desde PCI-DSS 3.0 todos los comerciantes, procesadores, pasarelas de pago y proveedores de servicios deben llevar a cabo tareas de pruebas de penetraci&oacute;n para:</p>
											<ul>
												<li>Cubrir todo el entorno de datos de titulares de tarjetas.</li>
												<li>Cubrir tanto la capa de aplicaci&oacute;n y las amenazas de capa de red.</li>
												<li>Se basan en un modelo aceptado por la industria.</li>
												<li>Cubrir las amenazas tanto externas e internas.</li>
											</ul>
											<p>Las pruebas de penetraci&oacute;n deben hacerse sobre una base anual y despu&eacute;s de cualquier cambio significativo en la infraestructura o aplicaciones.</p>
											<p>Servicios de pruebas de penetraci&oacute;n de Hashrise se alinean para el cumplimiento de PCI-DSS.</p>
										</div>
										<div class="col-md-6">
											<img src="images/pentest-pci.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>

				<div class="col-sm-6 col-md-3 isotope-item pciserv">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/wifi-pci.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#wifi-pci">
								<i class="fa fa-search-plus"></i>
								<span>PCI-DSS Required Services</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#wifi-pci">An&aacute;lisis WiFi (PCI)</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="wifi-pci" tabindex="-1" role="dialog" aria-labelledby="wifi-pci-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="project-11-label">An&aacute;lisis WiFi (PCI)</h4>
								</div>
								<div class="modal-body">
									<h3>Description</h3>
									<div class="row">
										<div class="col-md-6">
											<p>El PCI-DSS (PCI DSS) requiere un an&aacute;lisis de red inal&aacute;mbrica para llevar a cabo, para garantizar la seguridad del entorno de datos de tarjetas de cr&eacute;dito.</p>
											<p>Esta tarea debe llevarse a cabo sobre una base trimestral y cubrir todos los edificios que mantienen redes pertenecientes al entorno de datos de titulares de tarjetas.</p>
											<p>Los servicios de an&aacute;lisis de red inal&aacute;mbrica de Hashrise se alinean para el cumplimiento de PCI-DSS.</p>
										</div>
										<div class="col-md-6">
											<img src="images/wifi-pci.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>

				<div class="col-sm-6 col-md-3 isotope-item capacitacion">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/owasp-curso.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#curso-owasp">
								<i class="fa fa-search-plus"></i>
								<span>Training/Courses</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#curso-owasp">Curso OWASP Top 10</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="curso-owasp" tabindex="-1" role="dialog" aria-labelledby="curso-owasp-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
									<h4 class="modal-title" id="curso-owasp-label">Curso OWASP Top 10</h4>
								</div>
								<div class="modal-body">
									<h3>Description</h3>
									<div class="row">
										<div class="col-md-6">
											<p>El curso tiene como objetivo mostrar y explicar la lista de OWASP Top 10, la misma existe tanto para aplicaciones web, móviles y cloud. Contienen las 10 vulnerabilidades m&aacute;s cr&iacute;ticas que por lo general se encuentran en an&aacute;lisis de aplicaciones.</p>
											<p>Durante este entrenamiento, los siguientes temas ser&aacute;n cubiertos:</p>
											<ul>
												<li>Explicaci&oacute;n de todas las vulnerabilidades en la lista Top 10.</li>
												<li>Diferentes formas de detectarlas (manual y autom&aacute;tica).</li>
												<li>Demostraciones pr&aacute;cticas de su explotaci&oacute;n.</li>
												<li>Mejores pr&aacute;cticas de desarrollo para evitar cada una de las vulnerabilidades.</li>
											</ul>
											<br>
											<p>Duraci&oacute;n: 12hs (1 d&iacute;a y medio, o 3 d&iacute;as y medio)</p>
										</div>
										<div class="col-md-6">
											<img src="images/owasp-curso.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>
				<div class="col-sm-6 col-md-3 isotope-item capacitacion">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/mobile-curso.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#curso-mobile">
								<i class="fa fa-search-plus"></i>
								<span>Training/Courses</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#curso-mobile">Curso Seguridad M&oacute;vil</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="curso-mobile" tabindex="-1" role="dialog" aria-labelledby="curso-mobile-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
									<h4 class="modal-title" id="curso-mobile-label">Curso Seguridad M&oacute;vil</h4>
								</div>
								<div class="modal-body">
									<h3>Descripci&oacute;n</h3>
									<div class="row">
										<div class="col-md-6">
											<p>Los asistentes podr&aacute;n conocer las tareas b&aacute;sicas que intervienen en un proyecto de auditoria de seguridad a aplicaciones móviles, desde la comprensi&oacute;n de la aplicaci&oacute;n para revertir el c&oacute;digo y modificarlo.</p>
											<p>Se introducir&aacute;n las vulnerabilidades conocidas para aplicaciones m&oacute;viles basadas en la lista "Top 10 de OWASP m&oacute;vil", y se mostrar&aacute;n ejemplos reales.</p>
											<p>Problemas com&uacute;nes que surgen de nuestros an&aacute;lisis se van a mostrar en vivo, asi como, soluciones.</p>
											<p>El conjunto de herramientas que se utilizan en cada tarea ser&aacute;n presentadas y explicadas.</p>
											<p>A pesar de que la mayor&iacute;a de los sujetos tratados ser&aacute;n multiplataforma, las demostraciones y herramientas presentadas estar&aacute;n orientadas a Android.</p>
											<br>
											<p>Duraci&oacute;n: 8hs (1 d&iacute;a completo o 2 d&iacute;as y medio)</p>
										</div>
										<div class="col-md-6">
											<img src="images/mobile-curso.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>

				<div class="col-sm-6 col-md-3 isotope-item capacitacion">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/sdlc.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#curso-sdlc">
								<i class="fa fa-search-plus"></i>
								<span>Capacitación</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#curso-sdlc">Taller de Desarrollo Seguro</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="curso-sdlc" tabindex="-1" role="dialog" aria-labelledby="curso-mobile-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
									<h4 class="modal-title" id="curso-mobile-label">Taller de Desarrollo Seguro</h4>
								</div>
								<div class="modal-body">
									<h3>Descripci&oacute;n</h3>
									<div class="row">
										<div class="col-md-6">
											<p>Esta formaci&oacute;n abarcar&aacute; la importancia de la seguridad de la informaci&oacute;n a trav&eacute;s del ciclo de vida de desarrollo de software (SDLC).</p>
											<p>Los asistentes tendr&aacute;n la oportunidad de entender las amenazas y vulnerabilidades que cada aplicación est&aacute; expuesta, y de forma proactiva detectar posibles debilidades y errores cometidos durante un proyecto de desarrollo. De esta manera, ser&aacute; capaz de desarrollar aplicaciones m&aacute;s seguras y evitar vulnerabilidades.</p>
											<p>Los contenidos de formaci&oacute;n est&aacute;n dirigidos a la gesti&oacute;n de Sistemas de Informaci&oacute;n, Seguridad de la Informaci&oacute;n y el personal de desarrollo.</p>
											<br>
											<p>Durante este entrenamiento, los siguientes temas ser&aacute;n cubiertos:</p>
											<ul>
												<li>El papel de la seguridad de la informaci&oacute;n en todo el SDLC.</li>
												<li>An&aacute;lisis de Seguridad en Requierement.</li>
												<li>Seguridad en la etapa de dise&ntilde;o.</li>
												<li>Seguridad en la etapa de codificaci&oacute;n</li>
												<li>Seguridad en la fase de pruebas.</li>
												<li>Seguridad en la etapa de implementaci&oacute;n.</li>
												<li>Introducci&oacute;n a las vulnerabilidades y OWASP Top 10.</li>
											</ul>
											<br>
											<p>Duración&oacute; 8hs (1 d&iacute;a completo o 2 d&iacute;as y medio)</p>
										</div>
										<div class="col-md-6">
											<img src="images/sdlc.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>

				<div class="col-sm-6 col-md-3 isotope-item capacitacion">
					<div class="image-box">
						<div class="overlay-container">
							<img src="images/awareness.jpg" alt="">
							<a class="overlay" data-toggle="modal" data-target="#concient">
								<i class="fa fa-search-plus"></i>
								<span>Training/Courses</span>
							</a>
						</div>
						<a class="btn btn-default btn-block" data-toggle="modal" data-target="#concient">Charlas de sensibilizaci&oacute;n</a>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="concient" tabindex="-1" role="dialog" aria-labelledby="concient-label" aria-hidden="true">
						<div class="modal-dialog modal-lg">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
									<h4 class="modal-title" id="concient-label">Charlas de sensibilizaci&oacute;n</h4>
								</div>
								<div class="modal-body">
									<h3>Descripci&oacute;n</h3>
									<div class="row">
										<div class="col-md-6">
											<p>El nivel de seguridad de su empresa depende en gran medida del grado de sensibilizaci&oacute;n de su personal acerca de la importancia de la informaci&oacute;n, y las amenazas y peligros a los que están expuestos constantemente.</p>
											<p>Con el fin de ajustar nuestro servicio a su empresa y ayudar a mejorar su seguridad, Hashrise ofrece charlas de sensibilizaci&oacute;n sobre una variedad de temas. Algunas de las cuestiones que nuestros clientes por lo general est&aacute;n interesados son:</p>
											<ul>
												<li>Seguridad en Internet y las redes sociales.</li>
												<li>La fuga de informaci&oacute;n.</li>
												<li>Fraude electr&oacute;nico y robo de identidad.</li>
												<li>Malware, spam y el uso de correo electr&oacute;nico.</li>
												<li>Ingenier&iacute;a social y los peligros del phishing.</li>
												<li>Seguridad en la familia.</li>
												<li>Las contrase&ntilde;as.</li>
												<li>Y muchos m&aacute;s...</li>
											</ul>
											<p>P&oacute;ngase en contacto con nosotros para que podamos crear un plan de sensibilizaci&oacute;n personalizado adaptado a sus necesidades.</p>

										</div>
										<div class="col-md-6">
											<img src="images/awareness.jpg" alt="">
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Modal end -->
				</div>


			</div>
		</div>
	</div>
